html,body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color:black;
    /* padding: 1vh 5vh 2vh 5vh; */
    display: table-cell;
    padding-top: 20px;

}
.box {
    background-color:white;
    color:black;
    width:400px;
    padding:20px;
    border-radius:25px;
}
input {
    margin-left: 5vh;
}
h1{color:green;}

.display {
    background-color: yellow;
    font-weight: bold;
}


